header{
    grid-area: header;
    
    
    
  
}


h1{
    font-size: 3em;
    text-align: center;
 }    
 
 h2{
    display: inline;
    font-size: 1em;
    padding-left: 30em;
    padding-right: 3em;
    text-decoration: underline;

     
        }
 h3{
    display: inline;
    font-size: 1em; 
    padding-right: 3em;
    text-decoration: underline;
   
 }
 
 h4{
    display: inline;
    font-size: 1em;
    padding-right:3em;
    text-decoration: underline;
  
 }
 h5{
    display: inline;
    font-size: 1em;
    text-decoration: underline;
   
    
 }

 a:visited {
     color: black;
    text-decoration-color:#D4AF37;
 }

.c1 {
    grid-area: left;
    height:34em;
    border-radius: 1em; 
    background-color: #D4F9B8;
    box-shadow: 0.6em 0.35em #006D5B;
    

}

.c2 {
    grid-area: centre;
    height: 34em;
    border-radius: 1em;
    background-color: #D4F9B8;
    box-shadow: 0.6em 0.35em #006D5B;
    ;

}

.c3 {
    grid-area: right;
    height: 34em;
    border-radius: 1em; 
    background-color: #D4F9B8;
    box-shadow: 0.6em 0.35em #006D5B;
    
   
}


body{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas:
        "header header header"
        "left centre right";
    row-gap: 2em;
    column-gap: 1.5em; 
    padding-left: 5em;
    
}