aside{
    grid-area: aside;
    text-align: center;

    
    }
    
    main{
        grid-area: main;
    }
    
    
    body {
        display: grid;
        grid-template-columns:100%;
        grid-template-areas:
       "aside"
       "main";
       
       background-image: url(plain\ green.png);
       background-size: cover;
    
    }
    form{
        display: grid;
        grid-gap: 1em;
        resize: none;
        height: 5em;
        padding: 4em;
        color: #B48967;
        font-weight: bold;
        font-size: larger;
    }
    
    textarea{
        resize: none;
        width: 100%;
        height: 10em;
        border: 2px solid #B48967;
    }
    
    input {
        border: 2px solid #B48967;
        height: 2em;
        width: 100%;
    
        }
        input::placeholder {
        color: grey;
        }
    
        input[type=button], input[type=submit], input[type=reset] {
            background-color:#B48967;
            border: none;
            color: white;
            width: 100%;
            font-weight: bold;
            cursor: pointer;
          }
       
    h1{
    display:none;
    }
    
    
    h2{
        display:block;
        font-size: 3em;
        font-weight: bolder;
        color: white; 
        padding: 1em;
        
    }
    h3{display:block;
    
        font-size: 1.5em;
        font-weight: bold;
        color: white;
    }
    
    p{
        font-size: 1.2em;
        color: white; 
        }