.left{
grid-area: left;

width: 10em;
border-radius: 1em;

padding: 10em;
text-align: center;
}

.right{
    grid-area: right;
}


body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
   "left right right";
   
   background-image: url(../img/splash.png);
   background-size: cover;

}
form{
    display: grid;
    grid-gap: 1em;
    resize: none;
    height: 5em;
    padding: 4em;
    color: #B48967;
    font-weight: bold;
    font-size: larger;
}

textarea{
    resize: none;
    width: 30em;
    height: 10em;
    border: 2px solid #B48967;
}

input {
    border: 2px solid #B48967;
    height: 2em;
    width: 30em;

    }
    input::placeholder {
    color: grey;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color:#B48967;
        border: none;
        color: white;
        width: 30.5em;
        font-weight: bold;
        cursor: pointer;
      }

header{
    padding: 2em;
}
   
h1{
display: inline;
padding-right: 3em;
font-size: 1.2em;
}

h2{
    display: inline;
    padding-right: 3em;
    font-size: 1.2em;

}

h3{
display: inline;
padding-right: 3em;
font-size: 1.2em;

}

h4{
display: inline;
    font-size: 1.2em;
    
  
}

a:visited {
    color: white;
    text-decoration: underline;
    text-decoration-color:#D4AF37;
}

p1{
font-size: 3em;
font-weight: bolder;
color: white;

}

p2{
display:block;
padding: 2em;
font-size: 1.5em;
font-weight: bold;
color: white;
}

p3{
font-size: 1.2em;
color: white;
}

p4{
    display: block;
    padding: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

p5{
font-size: 1.2em;
color: white;
}
