body{
    
   background-image: url(../img/satin.jpg);
}
 
 
 h1{
     color: #D4AF37;
    display: inline;
    font-size: 1.2em;
    padding-left: 30em;
    padding-right: 3em;
    text-decoration: underline;
    text-decoration-color: #B48967;
        }
        h2{
            color:  #D4AF37;
            display: inline;
            font-size: 1.2em;
            padding-right:3em;
            text-decoration: underline;
            text-decoration-color: #B48967;
         }  
 h3{
    color:#D4AF37;
    display: inline;
    font-size: 1.2em; 
    padding-right: 3em;
    text-decoration: underline;
    text-decoration-color: #B48967;
 }
 
 h4{
    color: #D4AF37;
    display: inline;
    font-size: 1.2em;
    padding-right:3em;
    text-decoration: underline;
    text-decoration-color: #B48967 ;
 }

h5{
   font-style: oblique;
   padding-top: 1em;
    padding-left: 7em;
    font-size: 5em;
    font-weight: bold;
    color: white;
 

}

p1{
 display: block;
    color: white;
    font-size: large;
   padding-left: 30em;
    
   
  
}

