body{
    background-color: black;
}

header{
   font-size: 5em;
   font-weight: bold;
   color: white;
   text-align: center;


}

p{
    color: white;
    font-size: medium;
    text-align: left;  
}

