body{
    
   background-image: url(silk.webp);
background-size:cover;
background-repeat: no-repeat;
grid-template-areas: "nav nav nav";


animation: fade 5s ease 1 forwards;
}

@keyframes fade{
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
    }
}


nav{ grid-area: header;
   text-align: center;
}
.hamburger{
visibility:collapse;
}
.navbar{ display: none;

}

 
 h1{
     
    display: inline;
    font-size: 1.2em;
    padding-right: 3em;
    
        }
        h2{
            
            display: inline;
            font-size: 1.2em;
            padding-right:3em;
            
         }  

h3{
   font-style: oblique;
   padding-top: 1em;
    padding-left: 7em;
    font-size: 5em;
    font-weight: bold;
     color: white;
     
animation: bounce 1s 5 ;

    }


    @keyframes bounce{
      from{
   transform: translateY(0%);
      }
      to{
   transform: translateY(-20%);
      }
   }

a:visited {
   color: #D4AF37;
   text-decoration: underline;
    text-decoration-color: #B48967;
}

p{
 display: block;
    color: white;
    font-size: large;
   padding-left: 30em;

}



