header{
    grid-area: header;
 
  
}


 h1{
    font-size: 3em;
    text-align: center;

 }    
    
.c1{
    grid-area: main;
    border-radius: 1em;
    height:15em;
  
    min-width: none;
    max-width:30em;
    background-image: url(image\ placeholder.png);
    background-size: contain;

}

.c2{
    grid-area: left;
    border-radius: 1em; 
    height: 15em;

    min-width: none;
    max-width:30em;
    background-image: url(image\ placeholder.png);
    background-size: contain;

}

.c3 {
    grid-area: centre;
    border-radius: 1em;
    height: 15em;

    min-width: none;
    max-width:30em;
    background-image: url(image\ placeholder.png);
    background-size: contain;
}

.c4 {
    border-radius: 1em;
    grid-area: right;
    height: 15em;
    min-width: none;
    max-width:30em;
    background-image: url(image\ placeholder.png);
    background-size: contain;
}

body {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "left left left"
        "centre centre centre"
        "right right right";
    row-gap: 4em;
    }

