header{
    grid-area: header;
 
  
}
h1{
    font-size: 3em;
    text-align: center;

 }  

 h2{
     display: none;
 }

 h3{
     display: none;
 }
.c1{
    grid-area: main;
    border-radius: 1em;
    height:15em;
    background-image: url(image\ placeholder.png);
    background-size: contain;

  

}

.c2{
    grid-area: left;
    border-radius: 1em; 
    height: 15em;
 
    background-image: url(image\ placeholder.png);
    background-size: contain;
    

}

.c3 {
    grid-area: centre;
    border-radius: 1em;
    height: 15em;
    background-image: url(image\ placeholder.png);
    background-size: contain;
    
   
}

.c4 {
    border-radius: 1em;
    grid-area: right;
    height: 15em;
    background-image: url(image\ placeholder.png);
    background-size: contain;

 
}

body {
    display: grid;
    grid-template-columns:100%;
    grid-template-areas:
        "header "
        "main"
        "left"
        "centre"
        "right";
    row-gap: 4em;
 
    }

