header{
    grid-area: header;
    background-position: 1em;
  
}


 h1{
    font-size: 3em;
    text-align: center;

 }    
 
 h2{
    display: inline;
    font-size: 1em;
    padding-left: 36em;
    padding-right: 3em;
     
}

 h3{
    display: inline;
    font-size: 1em; 
    padding-right: 3em;
   
   
 }
 
 a:visited {
     color: black;
    }
    
.c1{
    grid-area: main;
    border-radius: 1em;
    height:17em;
   
    background-image: url(../img/image\ placeholder.png);
    background-size: contain;

}

.c2{
    grid-area: left;
    border-radius: 1em; 
    height: 15em;
   
    background-image: url(../img/image\ placeholder.png);
    background-size: contain;

}

.c3 {
    grid-area: centre;
    border-radius: 1em;
    height: 15em;
   
    background-image: url(../img/image\ placeholder.png);
    background-size: contain;
}

.c4 {
    border-radius: 1em;
    grid-area: right;
    height: 15em;
    
    background-image: url(../img/image\ placeholder.png);
    background-size: contain;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "left centre right";
    row-gap: 2em;
    column-gap: 1.5em;

 

}