
h1{
    font-size: 3em;
    text-align: center;
 }    
 
 h2{
    display: inline;
    font-size: 1em;
    padding-left: 37em;
    padding-right: 3em;
     
  }

 h3{
    display: inline;
    font-size: 1em; 
    padding-right: 3em;
  
 }

 h4{ 
     padding:2em;
    font-size: 1em;
     text-align: center;

 }

 p{
     display: inline;
     
 }



 a:visited {
   color: black;
   text-decoration: underline;
   text-decoration-color:#D4AF37;
 }

 header{
   grid-area: header;
 }
 main{
   grid-area: main;
 }

aside{
grid-area: c1;
height: 50em;
background-image: url(site\ progress.png);
background-size: contain;
background-repeat: no-repeat;
}
.validation{
grid-area: c2;
height: 50em;
background-image: url(html\ validation.png);
background-size: contain;
background-repeat: no-repeat;

}


.validation1{
grid-area: c3;
height: 50em;
background-image: url(css\ validation.png);
background-size: contain;
background-repeat: no-repeat;

}
 body{
  background-color: #D4F9B8;
  text-align: justify;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header header header"
  "main main main"
  "c1 c1 c1" 
  "c2 c2 c2"
  "c3 c3 c3";
 }
 

 html {
  scroll-behavior: smooth;
}






nav{
    display: none;
 }



.hamburger{
   visibility: visible;
}
 
 
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }
 

 
 .hamburger, .close {
   border: none;
   cursor: pointer;

   position:fixed;
   top: 20px;
   right: 20px;
   width: 36px;
   height: 36px;
 }
 
 .hamburger {
   background: white;
 }
 
 .close {
   background: black;
 }
 
 .hamburger img, .close img {
   width: 100%;
   height: 100%;
 }
 
 .navbar {
   position: fixed;
   
   z-index: 1000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   overflow: hidden;

   list-style: none;
   background: black;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   align-items: center;
  
   transform: translateY(-100%);
   transition: transform 0.2s ease;
 }
 

 
 .navbar:target {

   transform: translateY(0);
 }
 
 li a {
   display: block;
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-weight: bold;
   font-size: 1.2rem;

   text-decoration: none;
   border-bottom: 1px solid black;
   padding-bottom: 0.5rem;
 }
 
 li a:hover, li a:focus {

   border-bottom: 1px solid white;
 }
 a:visited{
  color: #D4AF37;}
