.hamburger{
  visibility:collapse;
  }
  .navbar{ display: none;
  
  }
h1{
    font-size: 3em;
    text-align: center;
 }    
 
 nav{text-align: center;
}


 h2{
    display: inline;
    font-size: 1em; 
    padding-right: 3em;
  
 }

 h3{ 
     padding:2em;
    font-size: 1em;
     text-align: center;

 }

 p{
     display: inline;
     
 }



 a:visited {
   color: black;
   text-decoration: underline;
   text-decoration-color:#D4AF37;
 }

 header{
   grid-area: header;
 }
 main{
   grid-area: main;
 }

aside{
grid-area: c1;
height: 50em;
background-image: url(site\ progress.png);
background-size: contain;
background-repeat: no-repeat;
}
.validation{
  grid-area: c2;
  height: 50em;
background-image: url(html\ validation.png);
background-size: contain;
background-repeat: no-repeat;
  }
  
  
  .validation1{
  grid-area: c3;
  height: 50em;
background-image: url(css\ validation.png);
background-size: contain;
background-repeat: no-repeat;
  }



 body{
  background-color: #D4F9B8;
  text-align: justify;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "header header header"
  "main main main"
  "c1 c1 c1"
  "c2 c2 c2"
  "c3 c3 c3";
 }
 html {
  scroll-behavior: smooth;
}
 