h1{
    font-size: 3em;
    text-align: center;
 }    
 
 h2{
    display: inline;
    font-size: 1em;
    padding-left: 37em;
    padding-right: 3em;
     
  }

 h3{
    display: inline;
    font-size: 1em; 
    padding-right: 3em;
  
 }

 h4{ 
     padding:2em;
    font-size: 1em;
     text-align: center;

 }

 p1{
     display: inline;
     text-align: left;
 }



 a:visited {
   color: black;
   text-decoration: underline;
   text-decoration-color:#D4AF37;
 }
 